image: node:20.10.0

# workaround for Docker API version compatibility 
# https://support.gitlab.com/hc/en-us/articles/23582251372060-Docker-API-Version-Mismatch-Errors-in-CI-CD-Pipelines
variables:
  DOCKER_API_VERSION: "1.44"

stages:
  - build
  - deploy

build:
  stage: build
  script:
    - yarn install --frozen-lockfile
    - yarn build
  artifacts:
    paths:
      - dist/
      - package.json
      - yarn.lock
    expire_in: 1 hour
  only:
    - /^v\d+\.\d+\.\d+$/
  tags:
    - node

deploy:
  stage: deploy
  dependencies:
    - build
  only:
    - /^v\d+\.\d+\.\d+$/
  before_script:
    # Install SSH client if not already present
    - "which ssh-agent || (apt-get update -y && apt-get install openssh-client -y)"
    # Start SSH agent and add private key
    - echo "Host ${DEPLOY_HOST}"
    - echo "User ${DEPLOY_USER}"
    - eval $(ssh-agent -s)
    - chmod 600 "$SSH_PRIVATE_KEY"
    - ssh-add "$SSH_PRIVATE_KEY"
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -H $DEPLOY_HOST >> ~/.ssh/known_hosts
  script:
  - |
    for TARGET in uni-notion-google-sync private-notion-google-sync; do
      echo "Deploying to $TARGET"

      scp package.json yarn.lock \
        $DEPLOY_USER@$DEPLOY_HOST:/scripts/$TARGET/

      scp -r dist/* \
        $DEPLOY_USER@$DEPLOY_HOST:/scripts/$TARGET/

      ssh $DEPLOY_USER@$DEPLOY_HOST "
        cd /scripts/$TARGET &&
        yarn install --production --frozen-lockfile
      "
    done
  tags:
    - node
